version: '3.7'

services:
  jenkins:
    image: "{{ jenkins_docker_image }}"
    networks:
      - integr8_tools
    ports:
      - 8080
      - 50000:50000
    configs:
      - source: jenkins_configs
        target: /var/jenkins_home/jenkins.yaml
    volumes:
      - jenkins_home:/var/jenkins_home
    deploy:
      labels:
        - traefik.enable=true
        - traefik.backend=jenkins
        - traefik.frontend.rule=Host:{{ jenkins_host }}
        - traefik.port=8080
        - traefik.docker.network=integr8_tools
        - traefik.backend.healthcheck.path=/
      replicas: 1
      placement:
        constraints:
          - node.role == worker

networks:
  integr8_tools:
    external: true
    name: integr8_tools

configs:
  jenkins_configs:
    file: "{{ jenkins_temp_dir.path }}/jenkins.yaml"

volumes:
  jenkins_home:
    driver: local